@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <h1>
        Hello!<br/>
        This is my Weather Forecast Site!
    </h1>
    <h3>
        Please, go to "Show weather" on main menu;)
    </h3>
    
    
</div>


